{% extends "base.html" %}

{% block title %}
    Register to Blog!
{% endblock %}

{% block content %}

<h1>Register for Blogz!</h1>

<form method="post">
    <table>

        <tr>
            <td>
                <label for="email">Email:</label>
            </td>
            <td>
                <input name="email" type="text" value="{{email}}">
            </td>
        </tr>

        <tr>
            <td>
                <label for="password">Password:</label>
            </td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>

        <tr>
            <td>
                <label for="verify">Verify Password:</label>
            </td>
            <td>
                <input name="verify" type="password">
            </td>
        </tr>

    </table>

    <input type="submit" value="Register!">

</form>

{% endblock %}